<div class="burger">
    <h1 class="title">Eat Da Burger!!</h1>
    <img src="assets/img/Burger.png" class="burger-img w3-center" alt="Burger">

    <h2>What Burger Do you Want?</h2>
    <form class="burger-form">
        <label for="burgerName"></label>
        <input type="text" id="burgerName" name="burger_name">
        <button type="submit">Add Burger!</button>
    </form>

    <div class="burger-list w3-container w3-cell-row">
        <div class="add-burger w3-container w3-cell">
            <h2>Burger Ordered</h2>
            <div>
                <div>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>{{this.burger_name}}
                        <button class="devoured-btn" data-id="{{this.id}}" data-newBurger=""="{{this.devoured}}">Devour!</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="devoured w3-container w3-cell">
            <h2>Devoured!!</h2>
            <div>
                <div>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>{{this.burger_name}}
                        <button class="remove-btn" data-id="{{this.id}}">Remove!</button>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>